*/.vs
/packages/
/TestResults/
.vs/SCE22_TDD/v17/.suo
.vs/SCE22_TDD/v17/TestStore/0/testlog.manifest
.vs/SCE22_TDD/v17/TestStore/0/000.testlog
.vs/SCE22_TDD/FileContentIndex/20aa2a2c-1193-4a41-8ad1-78191e022c05.vsidx
.vs/SCE22_TDD/FileContentIndex/read.lock
HumanResourcesManager/HumanResourcesManager.csproj
HumanResourcesManager/HumanResourcesManager.csproj.user
